.pages {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 40%;
}

.pages a {
    text-transform: uppercase;
    flex-grow: 1;
    margin: auto;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: all 0.3s;
}

.pages a:hover {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffff00, 0 0 80px #ffff00, 0 0 90px #ffff00, 0 0 100px #ffff00, 0 0 150px #ffff00;
    color: #ffd600;
}

.pages span {
    font-size: 18px;
}

.pages .btn_href {
    text-transform: none;
    width: 60px;
    height: 20px;
    background-color: #e8eaf6;
    padding: 5px;
    border-radius: 2%;
}

.pages .btn_href:hover {
    text-shadow: none;
    color: #ffd600;
}

.create_post {
    padding: 10px;
    background-color: #fff176;
    border: 0;
    outline: none;
    box-shadow: 0px 5px 10px #dcedc8;
    cursor: pointer;
    border-radius: 2%;
    transition: all 0.3s;
    width: 200px;
    height: 60px;
    font-size: 24px;
    color: #7e57c2;
    position: fixed;
    right: 20px;
    top: 80px;
    align-self: flex-end;
    margin-right: 70px;
}

.create_post:hover {
    background-color: #ffee58;
    box-shadow: 0px 15px 15px -5px #b3e5fc;
    transform: scale(1.03);
}

.lenta {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.post {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 3px solid #ffeb3b;
    border-radius: 20px;
    padding: 20px;
    background-color: #fffde7;
}

.post_top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post_top .title {
    font-size: 48px;
    flex-grow: 1;
    text-transform: uppercase;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);


}

.post_top .buttons {
    width: 1%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post_top .buttons .edit, .post_top .buttons .delete, .post_top .buttons .comments {
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 2px;
    transition: all 1s;
}

.post_top .buttons .comments {
    background-color: #8bc34a;
    margin: 10px;
}

.post_top .buttons .edit {
    background-color: #b3e5fc;
    margin: 10px;
}

.post_top .buttons .delete {
    background-color: #ff3d00;
    margin: 10px;

}

.post_top .buttons .comments:hover {
    transform: scale(1.03);
    background-color: #7cb342;
    box-shadow: 5px 10px;
    border-radius: 20%;
}

.post_top .buttons .edit:hover {
    transform: scale(1.03);
    background-color: #4fc3f7;
    box-shadow: 5px 10px;
    border-radius: 20%;
}

.post_top .buttons .delete:hover {
    transform: scale(1.03);
    background-color: #dd2c00;
    box-shadow: 5px 10px;
    border-radius: 20%;
}

.post_middle {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.author {
    transition: all 0.3s;
    font-size: 36px;
    flex-grow: 1;
    align-self: flex-start;
}

.author a {
    text-decoration: none;
    color: #0d47a1;
}

.author a:hover {
    color: #90caf9;
}

.date {
    font-size: 22px;
    align-self: center;
}

.content {
    font-size: 24px;
    color: #424242;
    align-self: flex-start;
    white-space: normal;
    width: 100%;
}