<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main_style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="nav">
        {% if current_user.is_authenticated %}
        <div class="punct"><img src="{{url_for('static', filename='img/ulitka.png')}}" alt="logo" width="120px"
                                height="70px"></div>
        <div class="punct" onclick="redirect('/index')"><span>Лента</span></div>
        <div class="punct" onclick="redirect('/chats')"><span>Чаты</span></div>
        <div class="punct" onclick="redirect('/shop')"><span>Магазин</span></div>
        <div class="punct" onclick="redirect('/{{current_user.nickname}}')"><span>Пользователь</span></div>
        <div class="punct" onclick="redirect('/logout')"><span>Выход</span></div>
        {% else %}
        <div class="solo_logo"><img src="{{url_for('static', filename='img/ulitka.png')}}" alt="logo" width="120px"
                                    height="70px"></div>
        {% endif %}
    </div>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
    <footer>
        <div class="footer">
            <span> © Директед бай Гавр и Валя!</span>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</main>
</body>
</html>