{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/edit.css')}}">
<div class="edit_post">
    <form method="POST" action="{{url_for('create_chat')}}">
        {{ form.hidden_tag() }}
        <input type="text" name="title" placeholder="Введите название чата"><br>
        <input type="text" name="users" placeholder="Введите ник пользователя, с которым хотите начать чат"
               class="users">
        <div class="btn_div">
            <button type="submit" value="cr_post" name="btn_cr_post" class="sub_btn">Создать</button>
        </div>
        <div class="alert_message">{{ message }}</div>
    </form>
</div>
{% endblock %}
