{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/edit.css')}}">
<div class="edit_post">
    <form method="POST">
        {{ form.hidden_tag() }}
        <input type="text" name="users" placeholder="Введите ник пользователя, которого хотите добавить в чат" class="users">
        {% for error in form.users.errors %}
        <div class="error_handler">
            {{ error }}
        </div>
        {% endfor %}
        <div class="btn_div">
            <button type="submit" value="cr_post" name="btn_cr_post" class="sub_btn">Создать</button>
        </div>
        <div class="alert_message">{{ message_log }}</div>
    </form>
</div>
{% endblock %}