{% extends "base.html" %}

{% block content %}

<div class="lenta">
    {% if current_user.is_authenticated %}
    <div onclick="redirect('/create_post')"><span>Создать пост</span></div>
    {% endif %}

    {% for post in posts %}
    <div class="post">
        {{ loop.index }}
        {% for user in users %}
        {% if user['id'] == post['author'] %}
        <h3><span>{{ post['title'] }} by {{ user['nickname'] }}</span></h3>
        <h4><span>{{ post['content'] }}</span></h4>
        <h4><span>Время создания {{ post['created_date'] }}</span></h4>
        {% if current_user.id == user.id %}
        <div onclick="redirect('/edit_post/{{ '%s'|format(post['id']) }}')"><span>Редактировать пост</span></div>
        <div onclick="redirect('/delete_post/{{ '%s'|format(post['id']) }}')"><span>Удалить пост</span></div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div><br>
    {% endfor %}
</div>
<form action="more" method="get">
     <button type="submit">Больше постов</button>
</form>
<div onclick="redirect('/more')"><span>Больше постов</span></div>
{% endblock %}